@charset "UTF-8";

html{
    font-size: 100%;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

body{
    font-family: "Yu Gothic Medium","遊ゴシック Medium",YuGothic,"遊ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
    line-height: 1.7;
    color: #1e0606;
}

a{
    text-decoration: none;
    color: #1e0606;
}

img{
    max-width: 100%;
}

li{
    list-style: none;
}

.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

h2{
    font-size: 5rem;
    font-family: 'Philosopher', sans-serif;
    font-weight: normal;
}

/*--header--*/

.sns-link{
    display: flex;
    justify-content: flex-end;
}

.main-logo{
    text-align: center;
    margin-bottom: 35px;
}

.main-navi ul{
    display: flex;
    justify-content: space-between;
}

.main-navi li{
    font-weight: bold;
}

.main-navi{
    width: 580px;
    margin: 0 auto;
}

.main-navi li:hover{
    color: #bfa34c;
    border-bottom: 2px solid #bfa34c;
}

.main-image{
    display: flex;
    background-size: cover;
    height: 50vh;
    width: 100%;
   margin-top: 26px;
}

.image-left{
    background-image: url(image/key02.jpg);
    width: 10%;
    position: relative;
}

.prev{
    position: absolute;
}

.image-center{
    background-image: url(image/key01.jpg);
    width: 80%;
}

.image-right{
    background-image: url(image/key03.jpg);
    width: 10%;
}

.main{
    display: flex;
    justify-content: space-between;
}

.main-box1{
    display: flex;
    height: 200px;
    margin-bottom: 28px;
    background-color: white;
    position: relative;
    width: 650px;
}

.title{
    margin-top: 25px;
}

.image-1{
    background-image: url(image/image.png);
    background-size: cover;
    width: 280px;
}

.image-2{
    background-image: url(image/image2.png);
    background-size: cover;
    width: 280px;
}

.image-3{
    background-image: url(image/image3.png);
    background-size: cover;
    width: 280px;
}

.new{
    position: absolute;
    top: -2px;
    left: -2px;
}

.text-box{
    width: 40%;
    margin-left: 37px;
}

.main-box1{
    display: flex;
}

.date{
    color: #1e0606;
}

.title{
    display: flex;
    justify-content: space-between;
}

.ctaegory{
    color: white;
    width: 70px;
    height: 26px;
    background-color: #bfa34c;
    text-align: center;
    margin-right: 30px;
}

.aside-image{
    background-image: url(image/banner.jpg);
    width: 100%;
    background-size: cover;
    height: 247px;
}

.aside{
    width: 300px;
}

.text{
    font-size: 22px;
    font-weight: bold;
    width: 305px;
    margin-top: 35px;
    line-height: 32px;
}

.aside-menu{
    margin-top: 28px;
    font-size: 15px;
}

.aside-menu li{
    padding: 1rem;
    padding-left: 1.5rem;
    background-color: white;
    border-bottom: #f3f3f3 solid 1px;
    font-weight: bold;
}

.aside-menu li:first-child{
    background-color: #bfa34c;
    color: white;
    text-align: center;
}